<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cardápio</title>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	
	<style type="text/css">
body {
	background-color: rgb(192, 192, 192);
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(0, 0, 0);
	font-family: "Helvetica", Arial, sans-serif;
}

nav#logo {
	font-family: "Helvetica", Arial, sans-serif;
}

a#nomeL {
	margin-left: 35px;
}

li#menu {
	margin-right: 35px;
	font-size: 100pt;
}

div#cardapio {
	padding: 5px 5px 5px 5px;
	background-color: rgb(64, 128, 128);
	box-shadow: 8px 8px 5px grey;
	margin-bottom: 15px;
	border-radius: 10px;
}

div#botoes {
	margin-top: 10px;
}
</style>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container" id=cardapio>
		<div class="row" style="margin-top: 30px; size: 100px;">
			<div class="col s3" th:each="i : ${itens}">
				<div class="card">
					<div class="card-image">
						<img th:src="${i.link}"> <span class="card-title"
							th:text="${i.nome}">CARDÁPIO</span> <a th:href="@{/posa/cardapio/{id}/addItem(id=${i.id})}"
							class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i></a>
					</div>
					<div class="card-content">
						<p th:text="${i.descricao}">Salgado</p>
						
							Preço: <span th:text="${i.preco}"> R$2</span>
						</p>
					<a href="#"<class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i></a>
					</div>
					
					<div class="card-content">
						<p th:text="${i.descricao}">Hambúrguer tradicional</p>
						
							Preço: <span th:text="${i.preco}"> R$12</span>
						</p>
						<class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i>
					</div>
					
					<div class="card-content">
						<p th:text="${i.descricao}">Doces</p>
						
							Preço: <span th:text="${i.preco}"> R$3</span>
						</p>
<class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i>					</div>
					
					<div class="card-content">
						<p th:text="${i.descricao}">Refrigerante</p>
						
							Preço: <span th:text="${i.preco}"> R$5</span>
						</p>
<class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i>					</div>
					
					<div class="card-content">
						<p th:text="${i.descricao}">Milkshake</p>
						
							Preço: <span th:text="${i.preco}"> R$8</span>
						</p>
<class="btn-floating halfway-fab waves-effect waves-light red"><i
							class="material-icons">add</i>					</div>
					
				</div>
			</div>
		</div>
	</div>

	<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Itens cadastrados (Pedido)</span>
					<p th:if="${mensagem}" th:text="${mensagem}"></p>
					<table class="highlight">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Preço</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${itensP}">
								<td th:text="${p.nome}">Milkshak</td>
								<td>R$ <span th:text="${p.preco}">00</span></td>
								<td th:text="${p.tipo}"></td>
								<td><a th:href="@{/posa/cardapio/{id}/removerItem(id=${p.id})}" ><i class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
					
					<br>
					<br>
					<br>

					<form action="/posa/cardapio/finalizarPedido" method="post">

                        <span class="card-title">Preencha seus dados para confimação de pedido</span>


                            <div>
								<label>Nome: </label>
								<p class="red-text text-darken-2" th:errors="*{nome}"></p>
								<input type="text" th:field="*{nome}">
							</div>
							<div>
								<label>Descrição: </label>
								<p class="red-text text-darken-2" th:errors="*{descricao}"></p>
								<textarea rows="100" cols="100" th:field="*{descricao}"></textarea>

							</div>
							<div>
								<label>Preço: </label>
								<p class="red-text text-darken-2" th:errors="*{preco}"></p>
								<input type="number" th:field="*{preco}">
							</div>

						<div>
							<label>Email: </label>
							<input type="text" name="email">
						</div>
						<div>
							<label>Endereço: </label>
							<textarea name="endereco" rows="100" cols="100"></textarea>
						</div>
						<div>
							<input type="hidden" value="0" name="valortotal" readonly="readonly">
						</div>

						<div id="botoes">
							<button type="submit" class="btn">Confirmar Compra</button>
							<button type="reset" class="btn">Cancelar</button>
						</div>
						
					</form>

				</div>
			</div>
		</div>
	</div>
	</div>


</body>

</html>